version: '3.8'

services:
  app:
    build: .
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - ./articles:/app/articles
      - ./data:/app/data
      - ./static/icons:/app/static/icons
    restart: unless-stopped
