{% extends "base.html" %}

{% block title %}{{ settings.site_title or "个人主页导航" }}{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="/static/css/home-v6.css">
{% endblock %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.6/dist/purify.min.js"></script>
{% endblock %}

{% block body_class %}home-v6{% endblock %}

{% block body %}
    <div class="container">
        <div class="frame">
            {% include "partials/home_topbar.html" %}

            <main class="main-content home-main">
                {% include "partials/home_views.html" %}
            </main>
        </div>

        {% include "partials/site_footer.html" %}
    </div>

    {% include "partials/home_modals.html" %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/sortable.min.js"></script>
    <script type="module" src="/static/js/pages/home.js?v=20260425"></script>
{% endblock %}
